.Wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Wrapper button {
  font-weight: 600;
  font-size: 30px;
  background-color: darkblue;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px 40p;
}
